[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
greykite = "*"
pandas = "*"
flake8 = "*"
ipython = "*"
jupyter = "*"
kaleido = "*"
autopep8 = "*"

[dev-packages]

[requires]
python_version = "3.10"
