[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pulp = "*"
numpy = "*"
pandas = "*"
flake8 = "*"
autopep8 = "*"
jupyter = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.10"
