[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
scikit-learn = "*"
scikit-survival = "*"
jupyter = "*"
ipython = "*"
autopep8 = "*"
pandas = "~=1.5"
dtreeviz = "*"

[dev-packages]

[requires]
python_version = "3.10"
